<footer class="border-top footer text-muted footerTextColor">
    <div class="container-fluid text-center" style="background-color: #2d384e">
        <div class="row">
            <div class="col-md-2 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4 text-left ml-5">Sobre Nós</h6>
                <ul class="list-unstyled text-left ml-5">
                    <li>
                        <a href="#!">Quem Somos?</a>
                    </li>
                    <li>
                        <a href="#!">História</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4 text-left ml-5">Apoio Ao Consumidor</h6>
                <ul class="list-unstyled text-left ml-5">
                    <li>
                        <a href="#!">FAQ</a>
                    </li>
                    <li>
                        <a href="#!">Pagamento</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4 text-left ml-5">Políticas</h6>
                <ul class="list-unstyled text-left ml-5">
                    <li>
                        <a href="#!">Política De Privacidade</a>
                    </li>
                    <li>
                        <a href="#!">Política De Cookies</a>
                    </li>
                    <li>
                        <a href="#!">Livro De Reclamações Online</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4 text-left ml-5">Contactos</h6>
                <ul class="list-unstyled text-left ml-5">
                    <li>
                        <img src="../node_modules/bootstrap-icons/icons/geo-fill.svg" width=" 30" height="30">
                        <a style="color: lightgray">Lisboa - Portugal</a>
                    </li>
                    <li>
                        <img src="../node_modules/bootstrap-icons/icons/phone-fill.svg" width="30" height="30">
                        <a style="color: lightgray">351 21 123 456 7</a>

                    </li>
                    <li>
                        <img src="../node_modules/bootstrap-icons/icons/mailbox.svg" width="30" height="30">
                        <a style="color: lightgray">cmp@email.pt</a>
                    </li>
                    <a asp-controller="Home" asp-action="Contactos" style="color: white;">Contacte-nos</a>
                </ul>
            </div>
            <div class="col-md-2 mx-auto">
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4 text-left ml-5">Redes Sociais</h6>
                <ul class="list-unstyled text-left ml-5">
                    <li>
                        <a href="https://pt-pt.facebook.com/"><img src="../images/facebook.png" width="30" height="30"
                                class="mr-3"></a>
                        <a href="https://twitter.com/?lang=pt"><img src="../images/twitter.png" width="30"
                                height="30"></a>
                        <a href="https://pt.linkedin.com/"><img src="../images/linkedin.png" width="55" height="35"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>